html, body {
    -webkit-text-size-adjust: none;
}

/*公共头部*/
.view-header {
    height: 4.5rem;
    background: #fff;
    border-bottom: 1px solid #DEDEDE;
}

.view-header .am-header-left {
    height: 2.2rem;
    width: 1.2rem;
    top: 1.15rem;
    left: 1.5rem;
    background: url(../i/C48865D7-D934-4183-9E36-EF16D6EB08E7@1x.png);
    background-size: 100% 100%;
}

.view-header .am-header-title {
    line-height: 4.2rem;
}

.view-header .am-header-title a {
    color: #333;
    font-size: 1.6rem;
}

.my-header {
    border-bottom: none;
}

.my-header .am-header-title a {
    color: #fff;
}

ul li {
    list-style: none;
}

.am-navbar-default {
    border-top: 1px solid #e3e3e3;
}

.am-navbar .nav-bar-bg {
    background: #fff;
}

.am-navbar .nav-bar-bg li .am-navbar-label {
    font-family: PingFang-SC-Medium;
    font-size: 12px;
    color: #666666;
}

/*弹框样式*/
.showLayer {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.3;
    background-color: #000;
    z-index: 9999;
}

.proMsg {
    width: 60%;
    background: #FFFFFF;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -30%;
    z-index: 10000;
    border-radius: 0.5rem;
    text-align: center;
}

.proMsg p {
    margin: 0;
    padding: 2rem;
    line-height: 1.8rem;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all; /*Only work in IE*/
    text-overflow: ellipsis; /*Not working in FF*/
    font-size: 1.4rem;
}

.proMsg input[type="button"] {
    width: 6rem;
    height: 3rem;
    background: #f5f5f5;
    border: 1px solid #F1F1F1;
    border-radius: 3px;
    margin: 0.5rem 1rem 2rem 1rem;
    font-size: 1.2rem;
    outline: none;
}

.proMsg input.goBtn {
    background: #FF4040;
    color: #fff;
}

.weui-toast {
    font-size: 1.2rem;
}

/*加载中样式*/
.loading-img {
    width: 8rem;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -4rem 0 0 -4rem;
    background: #000;
    opacity: 0.5;
    border-radius: 1rem;
    z-index: 99999999;
}

.loading-img img {
    width: 40%;
    height: 40%;
}
